body {
	font-family: arial;
	width: 80%;
	margin: 0 auto;
	background: #4D9B4F;
}


header {
	border: 3px;
	background-color: #B4A8A8;
	text-align: center;
}
main{ 
	background-color: yellow;
}

footer{
	text-align: center;
	background-color: blue;

}
.rotate{
	transform: rotate(90deg);
}